body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #eef2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.tip-calculator-container {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    background: #247291;
    border-radius:30px;
}

h1,p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

#tipPercentage,
#tipAmount,
#totalBill {
    background-color: #f1f1f1;
}

/* Style the tip range slider */
#tip::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default appearance */
  height: 16px;
  width: 16px;
  border-radius: 50%; /* Creates a circular thumb */
  background-color: #ccc; /* Set thumb color */
  cursor: pointer; /* Indicates draggable element */
}

#tip::-webkit-slider-track {
  -webkit-appearance: none; /* Removes default appearance */
  height: 5px; /* Set track height */
  background-color: #ddd; /* Set track color */
  border-radius: 5px; /* Matches thumb radius */
}

#tip::-webkit-slider-runnable-track {
  background-color: lightblue; /* Set progress track color */
}
