body {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #eef2e2;
    margin: 0;
    padding: 20px;
    background: #eef2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.tip-calculator-container {
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    background: #247291;
    border-radius:30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

h1,p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

#billTotal,
#tipPercentage,
#tipAmount,
#totalBill {
    background-color: #eef2e2;
    color: black;
    font-size: 0.9em;
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#tip {
  accent-color: #f8da5b;
}

#tipPercentage {
    font-size: 1em;
}
